@import "tailwindcss";

:host {
  font-family: Arial, Helvetica, sans-serif !important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;

  --error-color: rgba(239, 83, 80, 1);
  --warning-color: rgba(255, 160, 0, 1);

  --btn-orange: rgba(255, 196, 97, 1);
  --btn-pink: rgba(245, 148, 147, 1);
  --btn-lightGreen: rgba(125, 223, 167, 1);

  --white-100: rgba(255, 255, 255, 1);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-25: rgba(255, 255, 255, 0.25);

  --Green--100: rgba(173, 241, 81, 1);
  --Green--80: rgba(173, 241, 81, 0.8);
  --Green--60: rgba(173, 241, 81, 0.6);

  --GreenSecondary-100: rgba(46, 204, 113, 1);
  --GreenSecondary-80: rgba(46, 204, 113, 0.8);
  --GreenSecondary-60: rgba(46, 204, 113, 0.6);

  --border-50: rgba(255, 255, 255, 0.5);
  --border-10: rgba(255, 255, 255, 0.1);
  --border-09: rgba(255, 255, 255, 0.09);
}

/* .glass_card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
} */
.glass_card {
  background: var(--glass-new, #8989890d);
  backdrop-filter: blur(150px);
  border: 1px solid var(--glass-stroke-new, #ffffff17);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.backgroundImg {
  background-image: url("/images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  box-sizing: border-box;

  user-select: none;
  font-family: Arial, Helvetica, sans-serif !important;
}
button {
  cursor: pointer;
 
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.checkbox_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  align-items: flex-start;

}

.checkbox_label input[type="checkbox"] {
  display: none;
}

.checkbox_label .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  position: relative;
  transition: all 0.3s ease;
}

.checkbox_label .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox_label input[type="checkbox"]:checked + .checkmark {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.6);
}

.checkbox_label input[type="checkbox"]:checked + .checkmark::after {
  opacity: 1;
}
